.container-fluid {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.img-vert {
    height: 500px;
}

.img-vert-int {
    height: 600px;
}

.img-hor1 {
    height: 300px;
}

.img-hor1-arq {
    height: 450px;
}

.img-hor2 {
    height: 200px;
}
