* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../images/city.jpg);
    background-size: contain;
    background-position: fixed;
}

.carousel {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
